@use '../mixins' as mx;

.products {
  padding: 1rem;
}

.product__list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;

  &__item {
    list-style: none;

    .product {
      max-width: 100%;
      padding: 1.25rem;
      border-radius: 1.25rem;
      border: 1px solid #ccc;

      &__info {
        @include mx.flex($align: flex-start, $justify: space-between);

        .info {
          &__content {
            flex: 1;

            h2 {
              font-size: 1.125rem;
              font-weight: 500;
              color: #667085;
            }

            p {
              font-size: 0.875rem;
              color: #98A2B3;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }

          &__price {
            font-size: 1.125rem;
            font-weight: bold;
            color: #344054;
          }
        }
      }

      &__actions {
        margin-top: .75rem;

        button {
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 1rem;
          background-color: #3A4980;
          color: #fff;
          font-weight: 600;
          letter-spacing: 0.01em;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: #344054;
          }
        }
      }
    }
  }
}