@use 'mixins' as mx;
@use 'variables/colors' as colors;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: colors.$text;
}

.app-header {
  padding: 1rem;
  border: 1px solid #EDEDED;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: colors.$background;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);

  .header {
    @include mx.flex($gap: 2rem);

    &__text {
      font-size: 2rem;
      font-weight: bold;
      color: colors.$primary;
    }

    &__nav {
      .nav__list {
        @include mx.flex($gap: 1rem);
        list-style: none;

        &__item {
          a {
            text-decoration: none;
            color: #1D364D;
            @include mx.smoothTransition;

            &:hover {
              color: #3A4980;
            }
          }
        }
      }
    }
  }
}

.app-content {
  margin-top: .5rem;
}